{{# partial "titulo" }}	
	<title>MLEN</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
  <h1 style="color:tomato">Bienvenido a Torneos MLEN</h1>
  <br>
  <h2 style="color:indigo">¡ Acá vas a poder armar tus mejores TORNEOS !</h2>
  
</div>
<p>
	Para empezar carga los jugadores<br> 
	Una vez cargados empeza a generar las rondas<br>
	En resultados van a ir cargandose todos los resultados intermedios y finales<br>
	A jugar!
</p>	
{{/partial}}

				
{{> layout.hbs }}
