{{# partial "contenido" }}  

<h1>Nuevo Jugador</h1>

<form action="/jugadores" method="POST">

  <label for="nombre">Nombre</label>
	<input type="text" name="nombre">
	
	<label for="elo">Nivel de ELO</label>
	<input type="number" name="elo">
	
	<input type="submit" value="Agregar Jugador!!">
</form>

{{/partial}}


{{> layout.hbs }}