
{{# partial "titulo" }}	
	<title> Canan </title>
{{/partial}}
		
{{# partial "contenido" }}	


<div class="row">
	<div class="col-md-12">	
	<table class="table table-striped" >
			<td>Nombre</td>
			<td>ELO</td>
		</hr>
	{{#jugadores}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{elo}}</td>
		</tr>
	{{/jugadores}}				
	</table>
	</div>
</div>


<div class="pull-right">
  <a class="btn btn-primary"   href="/jugadores/new">Nuevo Jugador</a>
</div>
{{/partial}}
				
{{> layout.hbs }}