<html>
  <title>Torneos MLEN</title>
  <head>
    {{# block "titulo" }}
    {{/block}}
  </head>
  <body>

<!-- mirar aca : http://cdnjs.com/libraries/bootswatch#-->	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/simplex/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-default">
    <div class="container">
    
      <div class="navbar-header">
        <a class="navbar-brand" href="/"> <span class="glyphicon glyphicon-home"></span></a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/jugadores"><font size="4">Jugadores</font></a></li>
          <li><a href="/rondas"><font size="4">Rondas</font></a></li>
          <li><a href="/resultados"><font size="4">Resultados</font></a></li>
        </ul>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
  {{# block "contenido" }}
  {{/block}}
  </div>

  <br>
  <br>

  <footer class="footer navbar-fixed-bottom">
      <div class="panel-footer text-center">
        <p style="color:tomato">Torneos MLEN</p>
      </div>
  </footer>
	
  </body>
</html>
